<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>{{lng.webtitle}}</title>

    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Cinzel|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">
    <link href="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.theme.css" rel="stylesheet">
</head>
<body>
<div id="loading"></div>
<div class="">
    <nav>
        <ul>
            <li>home</li>
        </ul>
    </nav>
    <section id="info" style="overflow: hidden">
        <div class="row" style="overflow: hidden">
            <div class="ParallaxVideo">

                <div class="info">
                        <div>{{lng.head.name}}</div>
                        <div>{{lng.head.info}}</div>
                </div>

                <span> {{lng.info}} </span>
                <video autoplay muted loop>
                    <source src="assets/video/code.mp4" type="video/mp4">
                </video>
            </div>

        </div>
    </section>
    <section id="skill">
        <div class="topTitle">
            <div class="topSubtitle">{{lng.titles.skills.title}} <i class="fas" ng-class="lng.titles.skills.icon"></i></div>
        </div>
        <div class=" row skill-wrapper">
            <div class="skill-table col-sm-10 col-md-3 " ng-repeat="skill in lng.skills">
                <h2 class="skill-tabla-head">{{"- "+ skill.name + " -"}}</h2>
                <ul class="skill-tabla-list">
                    <li ng-repeat="sk in skill.data">
                        <div>
                            <span>{{sk.name + "  " + sk.percentage + "%"}}</span>
                        </div>
                        <div class="skill-bar-container">
                            <div class="skill-bar-porcent" ng-style="{'width':sk.percentage + '%' }"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="education">
        <div class="topTitle">
            <div class="topSubtitle">{{lng.titles.education.title}} <i class="fas" ng-class="lng.titles.education.icon"></i></div>
        </div>

        <div class="col-md-8 list">
            <div class="list-container" ng-repeat="education in lng.educations">
                <p class="list-title">{{education.name}}</p>
                <p class="list-date">{{education.year}}</p>
                <p>
                    {{education.info}}
                </p>
            </div>
        </div>
    </section>
    <section id="work">
        <div class="topTitle">
            <div class="topSubtitle">{{lng.titles.work.title}} <i class="fas" ng-class="lng.titles.work.icon"></i></div>
        </div>


        <div class="work-title">{{lng.portfolio.text}}</div>{{portfolioFilter}}


        <div class="row work-menu">
            <div class="col-md-12">
                <nav>
                    <ul>
                        <li class="work-menu-link" ng-click="portfolioFilter = 'All'" ng-class="work-menu-link-active">{{lng.text.portfolio.all}}</li>
                        <li ng-repeat="type in lng.portfolio.types" ng-click="changeFilter(type)" class="work-menu-link" ng-class="work-menu-link-active">{{type}}</li>
                    </ul>
                </nav>
            </div>
        </div>


        <div class="portfolio-container">
            <div class=" portfolio-card" ng-repeat="work in portfolio" ng-if="portfolioFilter == work.type || portfolioFilter == 'All'">
                <div class="col-md-6 col-lg-5 portfolio-card-img">
                    <img class="" ng-src="assets/img/portfolio/{{work.img}}" alt="{{work.title}}">
                </div>
                <div class="col-md-6 col-lg-7 portfolio-card-info">
                    <h3 class="portfolio-card-title">{{work.title}}  </h3>
                    <p class="portfolio-card-description">
                        {{work.text}}
                    </p>
                    <p class="portfolio-card-tags">{{lng.text.portfolio.stack}}</p>
                    <ul class="tags">
                        <li ng-repeat="tag in work.tags">{{tag}}</li>
                    </ul>
                    <a ng-href="{{'http://' + work.url}}" target="_blank" ng-if="work.url" class="portfolio-card-link">{{work.url}}</a>
                </div>
            </div>
            <div class="portfolio-btn-more" ng-click="getPortfolio()" ng-if="portfolio.length < lng.portfolio.works.length" id="portfolio-btn"><i class="fas fa-plus-circle" id="portfolio-btn-icon"></i></div>
        </div>
    </section>

    <section id="contact">
        <div class="topTitle">
            <div class="topSubtitle">{{lng.titles.contact.title}} <i class="fas" ng-class="lng.titles.contact.icon"></i></div>
        </div>


    </section>

</div>


<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
<script src="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.carousel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js"></script>
<script src="assets/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-29051841-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-29051841-1');
</script>

</body>
</html>