body{
    background: #1e1e28 !important;
    color: #cfd2da !important;
}
.grid-1 {
    grid-area: grid-1;
}
.grid-2 {
    grid-area: grid-2;
}
.grid-3 {
    grid-area: grid-3;
}
.grid-4 {
    grid-area: grid-4;
}
.grid-5 {
    grid-area: grid-5;
}
.grid-6 {
    grid-area: grid-6;
}
.grid-7 {
    grid-area: grid-7;
}
.grid-8 {
    grid-area: grid-8;
}
.grid-9 {
    grid-area: grid-9;
}
.grid-10 {
    grid-area: grid-10;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #1e1e28;
    z-index: 999999;
}
#loading:before {
    content: "";
    position: absolute;
    height: 1px;
    background: #cfd2da;
    width: 100%;
    animation-name: loading;
    animation-duration: 2s;
}
@keyframes loading {
     0%   {width: 10%;}
     100% {width: 100%;}
 }
.container {
    background: #27293d;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
}
.top{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding-left: 5px;
}
.topNombre{
    background: #434356;
    margin-top: 30px;
    padding-top: 50px;
    font-size: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.topTitulo{
    background: #cfd2da;
    font-size: 1.7em;
    color: #434356;
}
.info-text{
    font-family: 'Cinzel', serif;
    font-size: 1em;
    padding: 30px;
    text-align: center;
}
.flag-container{
    right: 0;
    position: absolute;
    padding-right: 20px;
}
.flag {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/flags.png') no-repeat;
    opacity: .25;
    transition: .25s;
    cursor: pointer;
}
.flag.flag-es {
    background-position: -24px 0;
}
.flag.flag-gb {
    background-position: 0 -24px;
}
.flag.flag-pt {
    background-position: -24px -24px;
}
.flag-container:hover .flag{
    opacity: .5;
}
.flag-es:hover, .flag-pt:hover, .flag-gb:hover{
    opacity: .75 !important;
}
.skills-chart{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    position: static;
    height: 200px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}