body{
    background: #1e1e28 !important;
    color: #cfd2da !important;
}
.grid-1 {
    grid-area: grid-1;
}
.grid-2 {
    grid-area: grid-2;
}
.grid-3 {
    grid-area: grid-3;
}
.grid-4 {
    grid-area: grid-4;
}
.grid-5 {
    grid-area: grid-5;
}
.grid-6 {
    grid-area: grid-6;
}
.grid-7 {
    grid-area: grid-7;
}
.grid-8 {
    grid-area: grid-8;
}
.grid-9 {
    grid-area: grid-9;
}
.grid-10 {
    grid-area: grid-10;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #1e1e28;
    z-index: 999999;
}
#loading:before {
    content: "";
    position: absolute;
    height: 1px;
    background: #cfd2da;
    width: 100%;
    animation-name: loading;
    animation-duration: 2s;
}
@keyframes loading {
     0%   {width: 10%;}
     100% {width: 100%;}
 }
.container {
    background: #27293d;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.top{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    width: 100%;
    padding-left: 5px;
}
.topNombre{
    background: #434356;
    margin-top: 30px;
    padding-top: 50px;
    font-size: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.topTitulo{
    background: #cfd2da;
    font-size: 1.7em;
    color: #434356;
}
.topTitle{
    background: #cfd2da;
    background: url('../img/code.jpg');
    font-size: 1.7em;
    color: #434356;
    height: 200px;
    display: table;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    width: 100%;
}
.topSubtitle{
    padding-left: 30px;
    background-image: linear-gradient(to right, #cfd2da , #cfd2da4f);
    display: table-cell;
    vertical-align: middle;
}
.topSubtitle::first-letter {
    text-decoration: underline;
}
.info-text{
    font-family: 'Cinzel', serif;
    font-size: 1em;
    padding: 30px;
    text-align: center;
}
.flag-container{
    right: 0;
    position: absolute;
    padding-right: 20px;
}
.flag {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/flags.png') no-repeat;
    opacity: .25;
    transition: .25s;
    cursor: pointer;
}
.flag.flag-es {
    background-position: -24px 0;
}
.flag.flag-gb {
    background-position: 0 -24px;
}
.flag.flag-pt {
    background-position: -24px -24px;
}
.flag-container:hover .flag{
    opacity: .5;
}
.flag-es:hover, .flag-pt:hover, .flag-gb:hover{
    opacity: .75 !important;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.ParallaxVideo{
    height: 300px;
    padding-bottom: 50px;
    position:relative
}
.ParallaxVideo video{
    width: 100%;
    top:0;
    z-index: -999;
    margin-top: -300px;
}

.ParallaxVideo span{
    z-index: 1;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 80px;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px #000000;
}
/*skill*/
.skill-wrapper{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 30px;
}
.skill-table{
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 10px;
    background: #1e1e28;
    margin: 20px 45px 30px 45px;
    transition: .5s;
}
.skill-table:hover{
    box-shadow: 0 0 19px -3px rgba(0,0,0,0.36);
    transform: scale(1.05,1.05);
    transition: .5s;
}
.skill-tabla-head{
    padding: 20px;
    font-size: 20px;
    color: #434356;
    background: #cfd2da;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}
.skill-tabla-list{
    padding: 30px;
    color: #A0A0A0;
    list-style: none;
}
.skill-tabla-list li{
    padding: 15px;
    border-bottom: 1px solid #C8C8C8;
    padding-top: 30px;
    padding-bottom: 30px;
}
.skill-tabla-list li:last-child{
    border: none;
    padding-bottom: 0;
}
.skill-tabla-list li:first-child{
    padding-top: 0;
}
.skill-bar-container{
    width: 100%;
    background-color: #ddd;
    height: 2px;
}
.skill-bar-porcent{
    background-color: #434356;
    height: 2px;
    width: 0;
    transition: 1.5s;
}
/*List*/
.list{
    margin: auto;
    padding: 50px;
}
.list-container:nth-child(even){
    border-left: 2px solid #cfd2da;
    padding-left: 25px;
    padding-bottom: 50px;
    width: 50%;
    margin-left: auto;
    background: #1e1e28;
    padding-top: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.list-container:nth-child(even):before{
    width: 12px;
    height: 12px;
    border: 2px solid #cfd2da;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    margin-left: -32px;
    margin-top: 20px;
}

.list-container:nth-child(odd){
    border-right: 2px solid #cfd2da;
    padding-right: 25px;
    padding-bottom: 50px;
    width: 50%;
    margin-left: 2px;
    position: relative;
    text-align: right;
    background: #1e1e28;
    padding-top: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.list-container:nth-child(odd):before{
    width: 12px;
    height: 12px;
    border: 2px solid #cfd2da;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #fff;
    right: -7px;
    margin-top: 20px;
}

.list-title{
    color: #cfd2da;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}
.list-date{
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
}
.list-container p {
    margin: 0;
}
/*portfolio*/
.portfolio-container{

}
.portfolio-card{
    transition: box-shadow .3s;
    background: #434356;
    display: flex;
    margin: 40px 0;
}
.portfolio-card-img{
    padding-right: 0;
    padding-left: 0;
}
.portfolio-card-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.portfolio-card-info{
    border-left: 1px solid #27293d;
    padding: 50px 50px 40px 30px;
}
.portfolio-card-title{
    font-size: 18px;
    line-height: 30px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}
.portfolio-card-description{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;
}
.portfolio-card-tags{
    font-family: Roboto Mono,monospace;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.tags li, .work-menu-link {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.14);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}
.portfolio-card-link{
    margin-top: 55px;
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    float: right;
}